@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Support:</strong> <a href="mailto:200400508@student.georgianc.on.ca">200400508@student.georgianc.on.ca</a>
</address>
